{
  "trailingComma": "es5",
  "singleAttributePerLine": true,
  "semi": false,
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "jsxSingleQuote": true,
  "quoteProps": "as-needed"
}
